/* 1. ROOT (The Vite Container) */
#root {
  height: 100vh; /* Make the root take the full viewport height */
  margin: 0;
  padding: 0;
}

/* 2. BODY */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* 3. THE GRID */
.dashboard-grid {
  height: 100%; /* Fill the root */
  display: grid;
  grid-template-columns: 250px 1fr;
}
.sidebar {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  border-right: 1px solid #ddd;
}

.logo {
  font-size: 1.5rem;
  margin-bottom: 40px;
  text-align: center;
  color: #ecf0f1;
}

.sidebar a {
  display: block;
  color: #bdc3c7;
  text-decoration: none;
  padding: 12px 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #34495e;
  color: white;
}


.sidebar a.active-link {
  background-color: #3498db;
  color: white;
  font-weight: bold;
}

/* CONTENT AREA */
.content {
  padding: 20px;
  overflow-y: auto;
}